.wpshop_admin_notice{
	position: relative;
	z-index: 100;
	overflow: hidden;
	border: 1px solid #E1E1E1 !important; /*	important to overwrite class "updated" instruction	*/
	background: #3A96AD url("../medias/images/wpshop_logo.png") no-repeat 15px 15px !important; /*	important to overwrite class "updated" instruction	*/
	padding: 0px 0 0 320px !important; /*	important to overwrite class "updated" instruction	*/
	height:90px;
	color:#FFFFFF;
	font-weight:bold;
}
.wpshop_admin_notice a{
	color:#6AAEBF;
}

.wpshop_admin_notice p a.button-primary{
	padding:6px 12px;
}