/**********/
/*	Main 	*/
/**********/
.wpshopHide{	display:none;	}
.wpshopShow{	display:block;	}
.bold{	font-weight:bold;	}
.clear{	clear:both;	}
.wpshopRequired{	color:red;	}
.wpshop_underline{	text-decoration:underline;	}
.font-weight-normal { font-weight: normal;}


/**********/
/*	Menu 	*/
/**********/
#menu-posts-wpshop_product, #menu-posts-wpshopproduct, #menu-posts-wpshop_shop_order{	/* display:none !important; */	}
#ui-datepicker-div{	display:none;	}


/**************/
/*	Widgets 	ui-corner-top{	font-size:10px; font-style:italic;	}*/
/**************/
.wpshop_categories_children{	margin-left: 1.3em;	}
#categories_widget_explanation{	font-size:10px; font-style:italic;	}
#superTab { background: none; border: none; padding: 0; margin-top:10px; }
#superTab ul { background:none !important; padding: 0;margin:0;}
#superTab ul li { background: none; border: 0px; margin-right:0px; margin: 0px 0px -1px; font: 11px Verdana,Arial,sans-serif; display: inline-block; }
#superTab ul li.ui-tabs-selected.ui-state-active{ background: white !important; border: 1px solid #ddd; margin-top:0px;border-bottom: 1px solid white; border-radius: 3px 3px 0 0;}
#superTab ul li a { padding: 5px 8px; text-decoration: none; display:block; }
#superTab ul li.ui-tabs-selected.ui-state-active a { color: black; }
#superTab div.simple { background: white; border: 1px solid #ddd; padding: 10px; }
#superTab div.simple div { min-height: 175px; max-height: 175px; overflow-y:scroll; padding-right: 10px; margin-top: 10px; }
#superTab div ul { margin:0px; padding:0px; }
#superTab div label { float: none; font-weight: normal; }
#superTab div ul li { padding: 0px; margin: 0px 0px 5px; display: block; }
#superTab div ul li ul { margin: 5px 0px 0px 10px; }
#superTab input[type=text] { width: 232px; }

div.contenttab {
	border: 1px solid #ddd;
	padding: 20px;
	background: white;
}
div.contenttab div.tab {
	display: none;
}
div.contenttab div.tab.active {
	display: block;
}
div.contenttab div.tab label {
	font-weight: bold;
	width: 250px;
	float: left;
	cursor: default;
}
div.contenttab div.tab label.fw-normal {
	font-weight: normal;
}
div.contenttab div.tab h3 {
	margin: 0px 0px 15px;
	background: #f5f5f5;
	text-transform: uppercase;
}

.column-order_status {
	width: 120px;
	text-align: center;
}

.column-order_status mark {
	display: block;
	text-align: center;
	white-space: nowrap;
	padding: 0 2px;
	background: white;
	border: 1px solid white;
	-webkit-box-shadow: inset 0 0 2px 1px rgba(255, 255, 255, 0.5);
	-webkit-border-radius: 4px;
	-moz-box-shadow: inset 0 0 2px 1px rgba(255, 255, 255, 0.5);
	-moz-border-radius: 4px;
	-o-box-shadow: inset 0 0 2px 1px rgba(255, 255, 255, 0.5);
	-o-border-radius: 4px;
	border-radius: 4px;
	box-shadow: inset 0 0 2px 1px rgba(255, 255, 255, 0.5);
	margin: 0;
	font-size: 9px;
	text-transform: uppercase;
	color: white;
	font-weight: bold;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
}

.column-order_status mark.pending,.column-order_status mark.awaiting_payment{background-color:#999;border-color:#999;}
.column-order_status mark.completed{background-color:#a0658b;border-color:#a0658b;}
.column-order_status mark.on-hold{background-color:#E66F00;border-color:#E66F00;}
.column-order_status mark.failed{background-color:red;border-color:red;}
.column-order_status mark.cancelled{background-color:#ccc;border-color:#ccc;}
.column-order_status mark.processing,.column-order_status mark.shipped{background-color:#2184c2;border-color:#2184c2;}
.column-order_status mark.refunded{background-color:#ccc;border-color:#ccc;}

a.button.loading {
	opacity: 0.5;
	padding-left: 26px;
}
a.button.loading:before, a.button.success:before, a.button.error:before{
	content: "";
	background: transparent url('../includes/templates/wpshop/medias/icones/loading.gif') no-repeat center center;
	width: 16px;
	height: 16px;
	display: inline-block;
	position: relative;
	margin: -2px 4px 0px -18px;
	vertical-align: middle;
}
a.button.success,a.button.error{padding-left: 26px;}
a.button.success:before {background: transparent url('../includes/templates/wpshop/medias/icones/success.gif') no-repeat center center;}
a.button.error:before {background: transparent url('../includes/templates/wpshop/medias/icones/error.gif') no-repeat center center;}

div.half {
	display: inline-block;
	width: 50%;
}
.top, .bottom {
	background: none !important;
	border: none !important;
	padding: 0px !important;
}

table.table_option {
	border-collapse:collapse;
}
table.table_option table {
	margin:0px;
	border-collapse:collapse;
}
table.table_option td.top {
	vertical-align:top;
}
table.table_option table.table_mini_bloc {
	background:#ddd;
	border-radius: 10px;
	box-shadow: 5px 5px 5px #ccc inset;
	-moz-box-shadow: 5px 5px 5px #ccc inset;
	-o-box-shadow: 5px 5px 5px #ccc inset;
	-webkit-box-shadow: 5px 5px 5px #ccc inset;
}
table.table_option table.table_mini_bloc tr td{
	padding: 5px 10px;
	vertical-align:top;
}

label.simple {
	float: left;
	width: 150px;
	font-weight: bold;
}
div.simple {
	background: #eee;
	padding: 10px 20px;
	margin: 10px 0px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	display: block;
}
input[type=text], select { width: 250px; }
input[type=text].error,
textarea.error {
	border-color: red;
}
span.error { color: red; display:block; }
div.inputblock {
	margin: -19px 0px 0px 300px;
}

div.simple textarea {
	height: 75px;
	width: 400px;
}
div.simple input[type=text].large {
	width: 400px;
}

div.superBackground {
	background-color: rgba(255,255,255,0.6);
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 10000;
}
div.popupAlert {
	position: fixed;
	background: white;
	border: 1px solid #ddd;
	padding: 20px;
	border-radius: 3px;
	box-shadow: 0px 0px 10px #ccc;
	z-index: 10001;
}
div.popupAlert h1 {
	font-weight: normal;
	letter-spacing: -1px;
	margin-top: 0px;
}

.right { float: right; }
hr {
	border: none;
	height: 1px;
	background: #ccc;
}

label.simple_right {
	width:120px;
	display:inline-block;
	text-align: right;
	margin-right: 10px;
}
div.option_bloc {
	background:#eee;
	padding: 0px 15px 12px;
	margin-top:15px;
	border-radius: 5px;
	border: 1px solid #ddd;
}