/**************/
/*	General 	*/
/**************/
label { width: 220px; }
.wpshopPageIcon{	width:36px;	}
.wpshopPageIcon img{	width:36px;	}
.wpshopPageMessage{	width:70%; text-align:center; margin:3px auto !important; padding:6px;	}
.wpshopPageMessage_Updated{ background-color: #FFFFE0; border:1px solid #E6DB55;	}
.wpshopPageMessage_Fixed{	/* position:fixed; margin:0px auto; width:70%; top:40px; float:right; z-index:1000; */	}
.wpshopPageMessage_Icon{	vertical-align:middle; margin:0px 6px 0px;	}
.wpshopCenterContainer{	width:80%; text-align:center; margin:3px auto !important; padding:6px;		}

.wpshopHide{	display:none;	}
.wpshopShow{	display:block;	}
.bold{	font-weight:bold;	}
.clear{	clear:both;	}
.wpshopRequired{	color:red;	}
.wpshop_underline{	text-decoration:underline;	}
.font-weight-normal { font-weight: normal;}
.wpshop_valign_middle{	vertical-align:middle;	}

.wpshop_message_object { margin:0px; font-weight:normal;}
.loading_picture_container{	margin:0px auto; width:90%; text-align:center;	}

.wpshopMainWrap .ui-tabs{	padding:0px !important; }
.wpshopMainWrap .ui-tabs .ui-tabs-nav{	padding:0px !important; }

.wpshop_customer_selector_column{	width:3%;	}
.wpshop_customer_identifier_column{	width:5% !important;	}


.wpshop_container_opener{	background: url("../medias/jquery-pics/ui-icons_222222_256x240.png"); background-position: 0px -211px; width:16px; height:16px; margin:3px 0px;	}
.wpshop_container_closer{	background: url("../medias/jquery-pics/ui-icons_222222_256x240.png"); background-position: -16px -211px; width:16px; height:16px; margin:3px 0px;	}
.wpshop_custom_search_input_icon{	float:left; background: url("../medias/jquery-pics/ui-icons_222222_256x240.png"); background-position: -160px -112px; width:16px; height:16px; margin:3px 0px;}

.wpshop_user_selected{	display:block; background: url("../medias/jquery-pics/ui-icons_66cc33_256x240.png"); background-position: -64px -144px; width:16px; height:16px;}
.wpshop_user_selected:hover, .wpshop_unset_link_for_user{	background: url("../medias/jquery-pics/ui-icons_cd0a0a_256x240.png"); background-position: -80px -128px; width:16px; height:16px;}
.wpshop_user_not_selected{	display:block; background: url("../medias/jquery-pics/ui-icons_888888_256x240.png"); background-position: -96px -144px; width:16px; height:16px;}
.wpshop_user_not_selected:hover, .wshop_set_link_for_user{	background: url("../medias/jquery-pics/ui-icons_888888_256x240.png"); background-position: -64px -144px; width:16px; height:16px;}
.wpshop_customer_billing_address_cell .half, .wpshop_customer_shipping_address_cell .half{	width:99%;	}
.wpshop_complete_user_list{	height:200px; overflow:auto;	}
.wpshop_complete_user_list .odd, .wpshop_complete_user_list .even{	cursor:pointer; background:none !important;		}


.fill_form_for_test{	cursor:pointer;	}

/*	list row	*/
.wpshopRowAction{	visibility:hidden;	}
tr:hover .wpshopRowAction{	visibility:visible;	}
.wpshopRowAction a{	font-weight:normal;	}

/*	Page header title and button	*/
.pageTitle{		}
.pageTitle_Fixed{	/* position:fixed; width:85%; height:35px; top:30px; float:right; border:1px solid #E6DB55; background-color:#FFFBCC; z-index:1000; */	}
.pageTitle_Fixed h2{		padding:0px !important; margin:0px 9px !important;	}
.wpshopContent_Fixed{	margin:50px 0px 0px 0px !important;	}

.pageHeaderButton{	float:right; padding:17px 18px 0px 0px;	}
.pageHeaderButton_Fixed{	float:right; padding:6px !important;	}
.pageTitle_Fixed .cancelButton{	padding:8px 0px 0px !important; margin:0px !important;	}
.cancelButton{	padding:0px !important;	}

/*	Edition form		*/
.wpshopHelp{	margin:6px auto; width:70%;	}
.wpshop_form_label{	width:24%; vertical-align:top;	}
.wpshop_form_input, .wpshop_form_input_element{	width:75%;	}
.wpshop_form_input textarea, .wpshop_form_input select, .wpshop_form_input input[type=text], .wpshop_form_input input[type=file]{	width:98%;	}
.wpshop_form_input input[type=radio], .wpshop_form_input input[type=checkbox]{	margin:0px 1px 0px 6px; vertical-align:middle;	}
.wpshop_form_input_element textarea, .wpshop_form_input_element select, .wpshop_form_input_element input[type=text], .wpshop_form_input_element input[type=file]{	width:80%;	}
.wpshop_form_input_element input[type=radio], .wpshop_form_input_element input[type=checkbox]{	margin:0px 1px 0px 6px; vertical-align:middle;	}
.wpshop_attribute_unit_input{	width:18% !important;	}

.wpshop_form_label_column{	width:30%; vertical-align:top;	}
.wpshop_form_input_column{	width:70%;	}
.wpshop_form_input_column textarea, .wpshop_form_input_column select, .wpshop_form_input_column input[type=text], .wpshop_form_input_column input[type=file]{	width:90% !important;	}
.wpshop_form_input_column input[type=radio], .wpshop_form_input_column input[type=checkbox]{	margin:0px 1px 0px 6px; vertical-align:middle;	}

#wpshopFormManagementContainer, .wpshop_extra_field_container{	display:table; width:100%;	}


/**********/
/*	Options 	*/
/**********/
#wpshopMainContent #options-tabs th{	width:25% !important;	}
#wpshopMainContent #options-tabs td input[type=text]{	width:25% !important;	}
#wpshopMainContent #options-tabs td select{	width:25% !important;	}

.wpshop_infobulle_marker{	background-color:#3A96AD; color:#FFFFFF !important; font-weight:bold; padding:3px 6px; -webkit-border-radius: 15px; -moz-border-radius: 15px; border-radius: 15px; text-decoration:none; vertical-align: middle; margin: 0 12px;	}
.wpshop_infobulle_marker a:hover{	color:#FFFFFF !important; text-decoration:none;	}

.slider_variable a {	text-decoration:none; }
.slider_variable a span{	display:block; margin:-25px 0px 0px -8px; background-color:#3A96AD; color:#FFFFFF !important; font-weight:bold; width:30px; text-align:center; -webkit-border-radius: 15px; -moz-border-radius: 15px; border-radius: 15px; }
#wpshop_display_grid_element_numberslider{	width:250px;  }
#slider-range_min_max.slider_variable{	width:500px; margin:0 0 0 5px;  }
#slider-range_min_max.slider_variable a span{	width:100px;  margin:-25px 0px 0px -45px;  }
#slider-range_free_from.slider_variable{	width:500px; margin:0 0 0 5px;  }
#slider-range_free_from.slider_variable a span{	width:115px;  margin:-25px 0px 0px -50px;  }

.wpshop_free_fees{	clear:right; margin:0 0 30px 0;	}
.wpshop_fess_freefrom_activate label{	vertical-align:middle;	}
.wpshop_fess_freefrom_activate input[type="checkbox"]{	vertical-align:middle;	}

.wpshop_payment_method_parameter{	margin:0px 32px;	}


/* -- Sliders -- */
.sliderValue{	border:0 none !important; background:none !important; font-weight:bold; width:15%; float:left;	}
.slider_variable{	width:24%; float:left; margin:6px 2px;	}
.slider_variable.ui-widget-content{	border:1px solid #999 !important;}
.ui-slider-range.ui-widget-header { background: #f0f0f0 !important; }
/* -- END Sliders -- */


/**********/
/*	Outils 	*/
/**********/
.tools_db_check_version_number{}
.tools_db_check_version_details{}
.tools_db_modif_list_version_number{ background-color:#C0C0C0 !important;	font-weight:bold; padding:9px 3px; width:20%;}
.tools_db_modif_list_version_details{	margin:0px 12px;!important;}
.tools_db_modif_list_version_details ul li.added_field{	list-style-type:disc !important;}
.tools_db_modif_list_version_details ul li.changed_field{	list-style-type:circle !important;}
.tools_db_modif_list_version_details ul li.added_table{	list-style-type:square !important;}
.db_table_check, .db_added_field_check, .db_changed_field_check{ vertical-align:middle; margin:0px 3px; }

/**********/
/*	Menu 	*/
/**********/
.category_thumbnail_preview{	max-width:200px;	}
.column-wpshop_category_thumbnail{	width:90px;	}
.category_thumbnail_preview{	width:50px;	height:50px;	}
.category_new_picture_upload{	float:left; margin:0px 12px;	}


/********************************/
/*	Attribute management part 	*/
/********************************/
#wp_wpshop__attribute_list tr.odd{	background: none #FFFFFF !important;	}
#wp_wpshop__attribute_list tr.odd td.sorting_1, #wp_wpshop__attribute_list tr.even td.sorting_1{	background: none #FFFFFF !important;	}

#wpshop_attr_main_infos_form, #wpshop_attr_option_infos_form{	width:95%;	}
.attr_ent_label_cell{	font-weight:bold;	}
.wpshopRowAction a{	font-weight:normal;	}
.wpshopAttrLangContainer{	margin:16px 0px; clear:both;	}
.attributeGroupDetails{	border:0px dashed grey; margin:1px 12px;	width:100%; padding:5px; background-color:#F1F1F1;	}
.attributeGroupDetails li{	cursor:pointer; height: 1.5em; line-height: 1.2em; width:50%; padding:5px 0 0 7px;	}
.ui-state-highlight { height: 1.5em; line-height: 1.2em; }

#attributeGroupeManagement{ width:49%; float:left; }
.invisibleAttribute{	width:1px !important; display:none;	}
.notAffectedAttribute{	width:90% !important;	}

.attributeRightColumnManagement{	width:49%;	}
#attributeRecycleBin{ width:80%; float:right;	}
#attributeNotManageable{ width:80%; float:right; clear:both; margin:6px 0px;	}
.notManageableAttribute{	border:0px dashed grey; margin:1px 12px;	width:90%; padding:5px;	}
.notManageableAttribute li{	height: 1.5em; line-height: 1.2em; padding:5px 7px; float:left; margin:0px 6px;	}

#addAttributeSetSection{	margin:9px;	}
#attributeSetSectionName, #attributeSetSectionNameEdit{	width:100%;	}

.ui-dialog-buttonpane button{	float:right !important;	}
.attribute_set_section_container{	margin:9px 0px; width:90%; clear:both;	}
.attributeSetSectionName_PossibleEdit{	cursor:pointer;	}
.attributeSetSectionNameEdit{	background: url("../medias/jquery-pics/ui-icons_222222_256x240.png") !important; background-position: -318px -111px !important; width:16px; height:16px; margin:0px 3px; float:left;	}

.attributeOptionValue{	background: url("../medias/jquery-pics/ui-icons_222222_256x240.png") !important; background-position: -0px -224px !important; margin:4px 3px;	}
.attributeOptionValue{	vertical-align:middle; cursor:move;	}
.new_option_add_for_attribute{	}
.attribute_new_option{	width:90% !important;	}
.wpshop_new_option_combobox_attribute_creation td{	text-align:right !important;}
.wpshop_new_option_combobox_attribute_creation td.option_input{	text-align:left !important;	width:50%;	}
.wpshop_new_option_button_container{	padding:0px 12px;	}

.attribute_set_group_details{	float:left; width:70%;	}
.attribute_set_not_affected_attribute{	float:right; width:25%;	}
.attribute_set_not_affected_attribute .attributeGroupDetails{	width:95% !important; border:1px dashed grey !important; background-color:#FFFFFF !important;	}

.attribute_options_fieldset{	border:1px solid #C0C0C0 !important; margin:0px 12px; padding:3px;	}
.attribute_options_fieldset input[type=text]{	width:30% !important;	}
.attribute_options_fieldset img, .add_new_option{	vertical-align:middle; cursor:pointer;	}

.options ul { list-style-type: none; margin: 0; padding: 0; margin-bottom: 10px; }
.options li { margin: 5px; padding: 5px; width: 150px; }
.ui-state-default input[type=text] {	width:45% !important;	}
#sortable_attribute li.ui-state-default, .wpshop_combo_option_head {		width:60% !important;	}
.ui-icon_cloner{	width:25px !important; float:left;	}
.wpshop_attribute_combo_option_head{	float:left; width:45%;	}
.wpshop_combo_option_head{	margin:0px 0px 12px !important;	}

.default_value {		text-align:center; font-style:italic;	}
.default_value input[type=radio], .default_value input[type=checkbox] {		margin:5px;	}



/********************************/
/*	Attribute unit group 	  */
/********************************/
#wp_wpshop__attributes_unit_group_list tr.odd{	background: none #FFFFFF !important;	}
#wp_wpshop__attributes_unit_group_list tr.odd td.sorting_1, #wp_wpshop__attributes_unit_group_list tr.even td.sorting_1{	background: none #FFFFFF !important;	}
#wpshop_unit_group_list{	padding:1em 0px !important;	}
#add_attribute_unit_group{	margin:0px 0px 18px;	}

#wp_wpshop__attributes_unit_list tr.odd{	background: none #FFFFFF !important;	}
#wp_wpshop__attributes_unit_list tr.odd td.sorting_1, #wp_wpshop__attributes_unit_list tr.even td.sorting_1{	background: none #FFFFFF !important;	}
#wpshop_attribute_unit_manager .ui-tabs{	padding:0px !important;	}
#wpshop_attribute_unit_manager .ui-widget-header{	background:none #FFFFFF !important; border-top:0px solid #000000 !important; border-left:0px solid #000000 !important; border-right:0px solid #000000 !important;	}
#wpshop_unit_list{	padding:1em 0px !important;	}
#wpshop_unit_main_listing_interface {	 border:0px solid #000000 !important;	}
#add_attribute_unit{	margin:0px 0px 18px;	}




/********************************/
/*	Product management part 	  */
/********************************/
.product_document_item{	text-align:center;	}
.product_document_item a{	color:#000000; text-decoration:none;	}
.product_attachment_list{	margin:9px; list-style-type:none !important; display:table;	}
.product_attachment_list li{	float:left; margin-right:12px; }
.product_attachment_list li img{	max-height:60px !important;  max-width: 100px !important; }
.reload_attachment_box{	cursor:pointer; vertical-align:middle;	}
.product_thumbnail_indicator{	font-size:10px; font-style:italic; font-weight:bold;	}
.attribute_set_selector select{	width:95% !important;	}

.attribute_currency{	padding:3px 0px 0px 6px; }
.attribute_currency_edit{		background: url("../medias/jquery-pics/ui-icons_222222_256x240.png"); background-position: -64px -112px; display:none; height: 16px;	margin: 9px 0 0;	text-decoration: none;	width: 16px;	}

.wp_list_products .column-cb{	padding:11px !important; width:0.4em !important;	}
.wp_list_products .column-product_id{	width:4em;	}
.wp_list_products .column-product_qty {	width:7.5em;	}
.wp_list_products .column-product_qty input{	width:3em; text-align:center;	}
#product_chooser_dialog{	padding:0px !important;	}
#wpshop_order_selector_product_form .tablenav{ display:none; }

.wp_list_customers .column-cb{	padding:11px !important; width:0.4em !important;	}
.wp_list_customers .column-customer_id{	width:4em;	}
#customer_chooser_dialog{	padding:0px !important;	}
#wpshop_order_selector_product_form .tablenav{ display:none; }
.current_customer_for_order{	clear:both; margin:9px 6px; }

.wpshop_order_shipping_cost_custom_admin{	width:50px !important; text-align:right;	}

#wpshop_product_list .odd, #wpshop_product_list .even{	cursor:pointer; background:none !important;		}
.wpshop_product_selector_column{	width:5%;	}
.wpshop_product_identifier_column{	width:5%;	}
.wpshop_order_product_qty{	width:40% !important; text-align:center;	}

#fixed-tabs{	border:0px solid black !important; padding:0px !important;}
#fixed-tabs ul.ui-tabs-nav {	background: none repeat scroll 0 0 transparent;	border: 0px solid #E1E1E1;	box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.4) inset;	list-style: none outside none;	 margin: 0;	overflow: hidden;	padding: 0.618em 4px 0;	}
#fixed-tabs ul.ui-tabs-nav li { float: left;padding: 0 0 8px; border:0px solid black !important; background: none transparent !important; }
#fixed-tabs ul.ui-tabs-nav a { -moz-transition: all 0.1s ease-in-out 0s; border: 1px solid #E1E1E1; border-radius: 4px 4px 4px 4px; box-shadow: 0 0 1px 0 #FFFFFF inset; color: #656565; display: block; font-weight: normal; margin: 0 4px; padding: 5px 20px; text-decoration: none; text-shadow: 1px 1px 0 white; }
#fixed-tabs .ui-tabs-panel { border: 1px solid #E1E1E1; }
#fixed-tabs ul.ui-tabs-nav li.ui-state-default a { border:3px solid #CCCCCC !important; }
#fixed-tabs ul.ui-tabs-nav li.ui-state-hover a { background-color:#CCCCCC !important; }
#fixed-tabs ul.ui-tabs-nav li.ui-state-active a, #fixed-tabs ul.ui-tabs-nav li.ui-state-active.ui-state-hover a { background-color:#CCCCCC !important; font-weight:bold !important; }
#wpshop_product_fixed_tab .inside{	margin:0px !important; padding:0px !important; 	}


/*	Order management	*/
.order_content_table{	width:100%;	}
.wpshop_order_product_listing_head{	text-align:left;	}
.wpshop_order_product_listing_head.order_product_qty{	width:10%; text-align:center;	}
.wpshop_order_product_listing_head.order_product_name{	width:60%;	}
.wpshop_order_product_listing_head.order_product_price{	width:15%; text-align:right;	}
.wpshop_order_product_listing_head.order_product_action{	width:10%; text-align:right;	}
.wpshop_order_product_listing_line.order_product_qty { text-align:center;	}
.wpshop_order_product_listing_line.order_product_qty input{	width:40% !important; text-align:center;	}
.wpshop_order_product_listing_line.order_product_action{	text-align:right; padding:0px 5px 0px 0px;	}
.wpshop_order_product_listing_line.order_product_price{	text-align:right; 	}
.wpshop_order_total_line_title{	text-align:right;	}
.wpshop_order_total_line_value{	text-align:right;	}
.order_customer_adresses_edition_info_title{	float:left; width:80px;	}
.half div{	margin:0px 9px;	}
.price_overline{	text-decoration:line-through;	}
#cartContent{	width:100%;}
#cartContent td{	text-align:center;}

.order_customer_adresses_edition_input{	width:70% !important;	}

a.remove { height: 16px; width: 16px; background: #999 url('../includes/templates/wpshop/medias/remove.png') no-repeat; text-indent: -9999px; display: inline-block; border: 1px solid #DDD; vertical-align: middle; }
a.remove:hover { background-color: #545454; border: 1px solid #aaa; }
a.remove.loading { background: white url('../includes/templates/wpshop/medias/loading.gif') no-repeat; border: none; }
.wpshop_clear_block:after {	clear: both; content: "."; display: block; height: 0; line-height: 0; visibility: hidden;	}
a.productQtyChange { border: 1px solid #DDD; color: #999; display: inline-block; width: 22px; text-align: center; text-decoration:none; }
a.productQtyChange:hover { border: 1px solid #aaa; color: #545454; text-decoration: none; font-weight: bold; }
input[name=productQty]{	width:50px !important; text-align:center;	}

#wpshop_order_customer_changer{	cursor:pointer;	}

.order_product_action_button{	border: 1px solid #DDDDDD;	color: #999999;	display: inline-block;	text-align: center;	width: 22px; text-decoration:none;	}


/************************/
/*	Autocomplete style	*/
/************************/
.auto-search-container{ width:80%;	}
.auto-search-input{	 width:60%;	}
.auto-search-ui-icon{	background: url("../medias/jquery-pics/ui-icons_222222_256x240.png"); background-position: -160px -112px; width:16px; height:16px; margin:3px 0px;}
.ac_results li{	color:#242424 !important;	}
.ac_over {		background-color:#DDDDDD !important;	}

.popup_opener{	background: url("../medias/jquery-pics/ui-icons_222222_256x240.png"); background-position: -32px -80px; width:16px; height:16px; float:left;	}


/**********/
/*	Menu 	*/
/**********/
#ui-datepicker-div{	display:none;	}


/**************/
/*	Widgets 	ui-corner-top{	font-size:10px; font-style:italic;	}*/
/**************/
.wpshop_categories_children{	margin-left: 1.3em;	}
#categories_widget_explanation{	font-size:10px; font-style:italic;	}
#superTab { background: none; border: none; padding: 0; margin-top:10px; }
#superTab ul { background:none !important; padding: 0;margin:0;}
#superTab ul li { background: none; border: 0px; margin-right:0px; margin: 0px 0px -1px; font: 11px Verdana,Arial,sans-serif; display: inline-block; }
#superTab ul li.ui-tabs-selected.ui-state-active{ background: white !important; border: 1px solid #ddd; margin-top:0px;border-bottom: 1px solid white; border-radius: 3px 3px 0 0;}
#superTab ul li a { padding: 5px 8px; text-decoration: none; display:block; }
#superTab ul li.ui-tabs-selected.ui-state-active a { color: black; }
#superTab div.simple { background: white; border: 1px solid #ddd; padding: 10px; }
#superTab div.simple div { min-height: 175px; max-height: 175px; overflow-y:scroll; padding-right: 10px; margin-top: 10px; }
#superTab div ul { margin:0px; padding:0px; }
#superTab div label { float: none; font-weight: normal; }
#superTab div ul li { padding: 0px; margin: 0px 0px 5px; display: block; }
#superTab div ul li ul { margin: 5px 0px 0px 10px; }
#superTab input[type=text] { width: 232px; }

/* Shortcode tab */

div#shortcode-tabs label {
	font-weight: bold;
	width: 270px;
	float: left;
	cursor: default;
}
div#shortcode-tabs label.fw-normal {
	font-weight: normal;
}
div#shortcode-tabs h3 {
	margin: 0px 0px 15px;
	background: #f5f5f5;
	text-transform: uppercase;
}

.column-order_status {
	width: 120px;
	text-align: center;
}

.column-order_status mark {
	display: block;
	text-align: center;
	white-space: nowrap;
	padding: 0 2px;
	background: white;
	border: 1px solid white;
	-webkit-box-shadow: inset 0 0 2px 1px rgba(255, 255, 255, 0.5);
	-webkit-border-radius: 4px;
	-moz-box-shadow: inset 0 0 2px 1px rgba(255, 255, 255, 0.5);
	-moz-border-radius: 4px;
	-o-box-shadow: inset 0 0 2px 1px rgba(255, 255, 255, 0.5);
	-o-border-radius: 4px;
	border-radius: 4px;
	box-shadow: inset 0 0 2px 1px rgba(255, 255, 255, 0.5);
	margin: 0;
	font-size: 9px;
	text-transform: uppercase;
	color: white;
	font-weight: bold;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
}

.column-order_status mark.pending,.column-order_status mark.awaiting_payment{background-color:#999;border-color:#999;}
.column-order_status mark.completed{background-color:#a0658b;border-color:#a0658b;}
.column-order_status mark.on-hold{background-color:#E66F00;border-color:#E66F00;}
.column-order_status mark.failed,.column-order_status mark.cancelled, .column-order_status mark.denied{background-color:red;border-color:red;}
.column-order_status mark.processing,.column-order_status mark.shipped{background-color:#2184c2;border-color:#2184c2;}
.column-order_status mark.refunded{background-color:#ccc;border-color:#ccc;}
.order_current_product_list{ clear:both; margin:9px 0px 3px 0px; }

.button.loading {
	opacity: 0.5;
	padding-left: 26px;
}
.button.loading:before, .button.success:before, .button.error:before{
	content: "";
	background: transparent url('../includes/templates/wpshop/medias/loading.gif') no-repeat center center;
	width: 16px;
	height: 16px;
	display: inline-block;
	position: relative;
	margin: -2px 4px 0px -18px;
	vertical-align: middle;
}
.button.success,a.button.error{padding-left: 26px;}
.button.success:before {background: transparent url('../includes/templates/wpshop/medias/success.gif') no-repeat center center;}
.button.error:before {background: transparent url('../includes/templates/wpshop/medias/error.gif') no-repeat center center;}

div.half {
	display: inline-block;
	width: 50%;
}
.top, .bottom {
	background: none !important;
	border: none !important;
	padding: 0px !important;
}

table.table_option {
	border-collapse:collapse;
}
table.table_option table {
	margin:0px;
	border-collapse:collapse;
}
table.table_option td.top {
	vertical-align:top;
}
table.table_option table.table_mini_bloc {
	background:#ddd;
	border-radius: 10px;
	box-shadow: 5px 5px 5px #ccc inset;
	-moz-box-shadow: 5px 5px 5px #ccc inset;
	-o-box-shadow: 5px 5px 5px #ccc inset;
	-webkit-box-shadow: 5px 5px 5px #ccc inset;
}
table.table_option table.table_mini_bloc tr td{
	padding: 5px 10px;
	vertical-align:top;
}

label.simple {
	float: left;
	width: 150px;
	font-weight: bold;
}
div.simple {
	background: #eee;
	padding: 10px 20px;
	margin: 10px 0px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	display: block;
}
input[type=text], select { width: 250px; }
input[type=text].error,
textarea.error {
	border-color: red;
}
span.error { color: red; display:block; }
div.inputblock {
	margin: -19px 0px 0px 300px;
}

div.simple textarea {
	height: 75px;
	width: 400px;
}
div.simple input[type=text].large {
	width: 400px;
}

div.superBackground {
	background-color: rgba(255,255,255,0.6);
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 10000;
}
div.popupAlert {
	position: fixed;
	background: white;
	border: 1px solid #ddd;
	padding: 20px;
	border-radius: 3px;
	box-shadow: 0px 0px 10px #ccc;
	z-index: 10001;
}
div.popupAlert h1 {
	font-weight: normal;
	letter-spacing: -1px;
	margin-top: 0px;
}

.right { float: right; }
hr {
	border: none;
	height: 1px;
	background: #ccc;
}

label.simple_right {
	width:150px;
	display:inline-block;
	margin-right: 10px;
}
div.option_bloc {
	background:#eee;
	padding: 0px 15px 12px;
	margin-top:15px;
	border-radius: 5px;
	border: 1px solid #ddd;
}



/********************************/
/*					Dialog part 			  */
/********************************/
.dialog_listing_pagination_container ul li{	float:left; margin:0px 6px; color:#21759B !important;	}
.dialog_listing_pagination_container a{	color:#21759B !important;	}
.dialog_listing_pagination_container ul li span.current{	font-weight:bold; background-color:#C0C0C0; padding:2px;	}

/* INFOBULLE */
.infobulle{
    position:fixed;
	display:none;
    background:#000;
    padding:3px 7px;
	border-radius: 3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	color:#d4d4d4;
	text-align:center;
	z-index:9999;
}

/* Dashboard */
#wpshop_dashboard {
	padding: 0 5px;
}
#wpshop_dashboard div.postbox div.inside {
	margin: 10px;
	position: relative;
}
#wpshop_dashboard div.postbox h3 {
	cursor: default !important;
}
#wpshop_dashboard div.postbox a {
	text-decoration: none;
}

.stats p {
	padding-bottom:15px;
}
.stats a {
	float: right;
	margin-left: 8px;
}

ul.recent-orders li {
	overflow: hidden;
	zoom: 1;
	border-bottom: #ECECEC 1px solid;
	padding: 0 0 8px;
	margin: 0 0 8px;
}
ul.recent-orders li:last-child {
	border-bottom: none;
	padding-bottom: 0px;
}
ul.recent-orders li .order-status {
	float: right;
}
ul.recent-orders li small { color: #999; }

ul.recent-orders li .completed { color: green; }
ul.recent-orders li .shipped { color: #21759B; }
ul.recent-orders li .denied { color: red; }
ul.recent-orders li .processing { color: #21759B; }
ul.recent-orders li .awaiting_payment { color: #E66F00; }
ul.recent-orders li .refunded, ul.recent-orders li .cancelled { color: #999; }

.wpshop_right_now p.sub,
.wpshop_right_now .table, .wpshop_right_now .versions {
	margin: -12px;
}
.wpshop_right_now .inside {
	font-size: 12px;
	padding-top: 20px;
}
.wpshop_right_now p.sub {
	font-style: italic;
	font-family: Georgia, "Times New Roman", "Bitstream Charter", Times, serif;
	padding: 5px 10px 15px;
	color: #777;
	font-size: 13px;
}
.wpshop_right_now .table {
	margin: 0 -9px;
	padding: 0 10px;
	position: relative;
}
.wpshop_right_now .table_content {
	float: left;
	width: 45%;
}
.wpshop_right_now .table_discussion {
	float: right;
	width: 45%;
}
.wpshop_right_now table td {
	padding: 3px 0;
	white-space: nowrap;
}
.wpshop_right_now table tr.first td {
	border-top: none;
}
.wpshop_right_now td.b {
	padding-right: 6px;
	text-align: right;
	font-family: Georgia, "Times New Roman", "Bitstream Charter", Times, serif;
	font-size: 14px;
	width: 1%;
}
.wpshop_right_now td.b a {
	font-size: 18px;
}
.wpshop_right_now td.b a:hover {
	color: #d54e21;
}
.wpshop_right_now .t {
	font-size: 12px;
	padding-right: 12px;
	padding-top: 6px;
	color: #777;
}
.wpshop_right_now .t a { white-space: nowrap; }
.wpshop_right_now .denied { color: red;}
.wpshop_right_now .pending { color: #e66f00; }
.wpshop_right_now .completed { color: green; }
.wpshop_right_now .versions {
	padding: 4px 15px 12px;
	clear: both;
}