/**************/
/*	General 	*/
/**************/
label { width: 220px; }
.wpshopPageIcon{	width:36px;	}
.wpshopPageIcon img{	width:36px;	}
.wpshopPageMessage{	width:70%; text-align:center; margin:3px auto !important; padding:6px;	}
.wpshopPageMessage_Updated{ background-color: #FFFFE0; border:1px solid #E6DB55;	}
.wpshopPageMessage_Fixed{	position:fixed; margin:0px auto; width:70%; top:40px; float:right; z-index:1000;	}
.wpshopPageMessage_Icon{	vertical-align:middle; margin:0px 6px 0px;	}
.wpshopCenterContainer{	width:80%; text-align:center; margin:3px auto !important; padding:6px;		}

.wpshopMainWrap .ui-tabs{	padding:0px !important; }
.wpshopMainWrap .ui-tabs .ui-tabs-nav{	padding:0px !important; }

.fill_form_for_test{	cursor:pointer;	}

/*	list row	*/
.wpshopRowAction{	visibility:hidden;	}
tr:hover .wpshopRowAction{	visibility:visible;	}
.wpshopRowAction a{	font-weight:normal;	}

/*	Page header title and button	*/
.pageTitle{		}
.pageTitle_Fixed{	position:fixed; width:85%; height:35px; top:30px; float:right; border:1px solid #E6DB55; background-color:#FFFBCC; z-index:1000;	}
.pageTitle_Fixed h2{		padding:0px !important; margin:0px 9px !important;	}
.wpshopContent_Fixed{	margin:50px 0px 0px 0px !important;	}

.pageHeaderButton{	float:right; padding:17px 18px 0px 0px;	}
.pageHeaderButton_Fixed{	float:right; padding:6px !important;	}
.pageTitle_Fixed .cancelButton{	padding:8px 0px 0px !important; margin:0px !important;	}
.cancelButton{	padding:0px !important;	}

/*	Edition form		*/
.wpshopHelp{	margin:6px auto; width:70%;	}
.wpshop_form_label{	width:24%; vertical-align:top;	}
.wpshop_form_input, .wpshop_form_input_element{	width:75%;	}
.wpshop_form_input textarea, .wpshop_form_input select, .wpshop_form_input input[type=text], .wpshop_form_input input[type=file]{	width:98%;	}
.wpshop_form_input input[type=radio], .wpshop_form_input input[type=checkbox]{	margin:0px 1px 0px 6px; vertical-align:middle;	}
.wpshop_form_input_element textarea, .wpshop_form_input_element select, .wpshop_form_input_element input[type=text], .wpshop_form_input_element input[type=file]{	width:80%;	}
.wpshop_form_input_element input[type=radio], .wpshop_form_input_element input[type=checkbox]{	margin:0px 1px 0px 6px; vertical-align:middle;	}
.wpshop_attribute_unit_input{	width:18% !important;	}

.wpshop_form_label_column{	width:30%; vertical-align:top;	}
.wpshop_form_input_column{	width:70%;	}
.wpshop_form_input_column textarea, .wpshop_form_input_column select, .wpshop_form_input_column input[type=text], .wpshop_form_input_column input[type=file]{	width:90% !important;	}
.wpshop_form_input_column input[type=radio], .wpshop_form_input_column input[type=checkbox]{	margin:0px 1px 0px 6px; vertical-align:middle;	}

#wpshopFormManagementContainer, .wpshop_extra_field_container{	display:table; width:100%;	}


/**********/
/*	Options 	*/
/**********/
#wpshopMainContent #options-tabs th{	width:25% !important;	}
#wpshopMainContent #options-tabs td input[type=text]{	width:25% !important;	}
#wpshopMainContent #options-tabs td select{	width:25% !important;	}
#wpshop_option_tpl_updater_display{	cursor:pointer;	}
.tpl_updater_mass_action{	font-style:italic; font-weight:bold;	}


/* -- Sliders -- */
.sliderValue{	border:0 none !important; background:none !important; font-weight:bold; width:15%; float:left;	}
.slider_variable{	width:24%; float:left; margin:6px 2px;	}
.slider_variable.ui-widget-content{	border:1px solid #999 !important;}
.ui-slider-range.ui-widget-header { background: #f0f0f0 !important; }
/* -- END Sliders -- */


/**********/
/*	Outils 	*/
/**********/
.tools_db_check_version_number{}
.tools_db_check_version_details{}
.tools_db_modif_list_version_number{ background-color:#C0C0C0 !important;	font-weight:bold; padding:9px 3px; width:20%;}
.tools_db_modif_list_version_details{	margin:0px 12px;!important;}
.tools_db_modif_list_version_details ul li.added_field{	list-style-type:disc !important;}
.tools_db_modif_list_version_details ul li.changed_field{	list-style-type:circle !important;}
.tools_db_modif_list_version_details ul li.added_table{	list-style-type:square !important;}
.db_table_check, .db_added_field_check, .db_changed_field_check{ vertical-align:middle; margin:0px 3px; }

/**********/
/*	Menu 	*/
/**********/
.category_thumbnail_preview{	max-width:200px;	}
.column-wpshop_category_thumbnail{	width:90px;	}
.category_thumbnail_preview{	width:50px;	height:50px;	}
.category_new_picture_upload{	float:left; margin:0px 12px;	}


/********************************/
/*	Attribute management part 	*/
/********************************/
#wp_wpshop__attribute_list tr.odd{	background: none #FFFFFF !important;	}
#wp_wpshop__attribute_list tr.odd td.sorting_1, #wp_wpshop__attribute_list tr.even td.sorting_1{	background: none #FFFFFF !important;	}

#wpshop_attr_main_infos_form, #wpshop_attr_option_infos_form{	width:95%;	}
.attr_ent_label_cell{	font-weight:bold;	}
.wpshopRowAction a{	font-weight:normal;	}
.wpshopAttrLangContainer{	margin:16px 0px; clear:both;	}
.attributeGroupDetails{	border:0px dashed grey; margin:1px 12px;	width:100%; padding:5px; background-color:#F1F1F1;	}
.attributeGroupDetails li{	cursor:pointer; height: 1.5em; line-height: 1.2em; width:50%; padding:5px 0 0 7px;	}
.ui-state-highlight { height: 1.5em; line-height: 1.2em; }

#attributeGroupeManagement{ width:49%; float:left; }
.invisibleAttribute{	width:1px !important; display:none;	}
.notAffectedAttribute{	width:90% !important;	}

.attributeRightColumnManagement{	width:49%;	}
#attributeRecycleBin{ width:80%; float:right;	}
#attributeNotManageable{ width:80%; float:right; clear:both; margin:6px 0px;	}
.notManageableAttribute{	border:0px dashed grey; margin:1px 12px;	width:90%; padding:5px;	}
.notManageableAttribute li{	height: 1.5em; line-height: 1.2em; padding:5px 7px; float:left; margin:0px 6px;	}

#addAttributeSetSection{	margin:9px;	}
#attributeSetSectionName, #attributeSetSectionNameEdit{	width:100%;	}

.ui-dialog-buttonpane button{	float:right !important;	}
.attribute_set_section_container{	margin:9px 0px; width:90%; clear:both;	}
.attributeSetSectionName_PossibleEdit{	cursor:pointer;	}
.attributeSetSectionNameEdit{	background: url("../medias/jquery-pics/ui-icons_222222_256x240.png") !important; background-position: -318px -111px !important; width:16px; height:16px; margin:0px 3px; float:left;	}

.attributeOptionValue{	background: url("../medias/jquery-pics/ui-icons_222222_256x240.png") !important; background-position: -0px -224px !important; margin:4px 3px;	}
.attributeOptionValue{	vertical-align:middle; cursor:move;	}
.new_option_add_for_attribute{	}
.attribute_new_option{	width:90% !important;	}
.wpshop_new_option_combobox_attribute_creation td{	text-align:right !important;}
.wpshop_new_option_combobox_attribute_creation td.option_input{	text-align:left !important;	width:50%;	}
.wpshop_new_option_button_container{	padding:0px 12px;	}

.attribute_set_group_details{	float:left; width:70%;	}
.attribute_set_not_affected_attribute{	float:right; width:25%;	}
.attribute_set_not_affected_attribute .attributeGroupDetails{	width:95% !important; border:1px dashed grey !important; background-color:#FFFFFF !important;	}

.attribute_options_fieldset{	border:1px solid #C0C0C0 !important; margin:0px 12px; padding:3px;	}
.attribute_options_fieldset input[type=text]{	width:30% !important;	}
.attribute_options_fieldset img, .add_new_option{	vertical-align:middle; cursor:pointer;	}

.options ul { list-style-type: none; margin: 0; padding: 0; margin-bottom: 10px; }
.options li { margin: 5px; padding: 5px; width: 150px; }
.ui-state-default input[type=text] {	width:45% !important;	}
#sortable_attribute li.ui-state-default, .wpshop_combo_option_head {		width:60% !important;	}
.ui-icon_cloner{	width:25px !important; float:left;	}
.wpshop_attribute_combo_option_head{	float:left; width:45%;	}
.wpshop_combo_option_head{	margin:0px 0px 12px !important;	}

.default_value {		text-align:center; font-style:italic;	}
.default_value input[type=radio], .default_value input[type=checkbox] {		margin:5px;	}



/********************************/
/*	Attribute unit group 	  */
/********************************/
#wp_wpshop__attributes_unit_group_list tr.odd{	background: none #FFFFFF !important;	}
#wp_wpshop__attributes_unit_group_list tr.odd td.sorting_1, #wp_wpshop__attributes_unit_group_list tr.even td.sorting_1{	background: none #FFFFFF !important;	}
#wpshop_unit_group_list{	padding:1em 0px !important;	}
#add_attribute_unit_group{	margin:0px 0px 18px;	}

#wp_wpshop__attributes_unit_list tr.odd{	background: none #FFFFFF !important;	}
#wp_wpshop__attributes_unit_list tr.odd td.sorting_1, #wp_wpshop__attributes_unit_list tr.even td.sorting_1{	background: none #FFFFFF !important;	}
#wpshop_attribute_unit_manager .ui-tabs{	padding:0px !important;	}
#wpshop_attribute_unit_manager .ui-widget-header{	background:none #FFFFFF !important; border-top:0px solid #000000 !important; border-left:0px solid #000000 !important; border-right:0px solid #000000 !important;	}
#wpshop_unit_list{	padding:1em 0px !important;	}
#wpshop_unit_main_listing_interface {	 border:0px solid #000000 !important;	}
#add_attribute_unit{	margin:0px 0px 18px;	}




/********************************/
/*	Product management part 	  */
/********************************/
.product_document_item{	text-align:center;	}
.product_document_item a{	color:#000000; text-decoration:none;	}
.product_attachment_list{	margin:9px; list-style-type:none !important; display:table;	}
.product_attachment_list li{	float:left; margin-right:12px; }
.product_attachment_list li img{	max-height:60px !important;  max-width: 100px !important; }
.reload_attachment_box{	cursor:pointer; vertical-align:middle;	}
.product_thumbnail_indicator{	font-size:10px; font-style:italic; font-weight:bold;	}
.attribute_set_selector select{	width:95% !important;	}