#toplevel_page_wpshop_dashboard .wp-menu-image {
    background: url("../medias/icones/wpshop_menu_icons.png") no-repeat scroll 0 -32px transparent !important;
}
#toplevel_page_wpshop_dashboard:hover .wp-menu-image, #toplevel_page_wpshop_dashboard.wp-has-current-submenu .wp-menu-image {
    background: url("../medias/icones/wpshop_menu_icons.png") no-repeat scroll 0 0 transparent !important;
}
#toplevel_page_wpshop_dashboard .wp-menu-image img {
    display: none;
}
#menu-posts-wpshop_product .wp-menu-image {
    background: url("../medias/icones/wpshop_menu_icons.png") no-repeat scroll -35px -32px transparent !important;
}
#menu-posts-wpshop_product:hover .wp-menu-image, #menu-posts-wpshop_product.wp-has-current-submenu .wp-menu-image {
    background: url("../medias/icones/wpshop_menu_icons.png") no-repeat scroll -35px 0 transparent !important;
}
#menu-posts-wpshop_shop_order .wp-menu-image {
    background: url("../medias/icones/wpshop_menu_icons.png") no-repeat scroll -70px -32px transparent !important;
}
#menu-posts-wpshop_shop_order:hover .wp-menu-image, #menu-posts-wpshop_shop_order.wp-has-current-submenu .wp-menu-image {
    background: url("../medias/icones/wpshop_menu_icons.png") no-repeat scroll -70px 0 transparent !important;
}