/*	Start common page parameter	*/
.bold{	font-weight:bold;	}
.wpshopHide{	display:none;	}
.wpshopPageIcon{	width:36px;	}
.wpshopPageIcon img{	width:36px;	}
.wpshopPageMessage{	width:70%; text-align:center; margin:3px auto !important; padding:6px;	}
.wpshopPageMessage_Updated{ background-color: #FFFFE0; border:1px solid #E6DB55;	}
.wpshopPageMessage_Fixed{	position:fixed; margin:0px auto; width:70%; top:40px; float:right; z-index:1000;	}
.wpshopPageMessage_Icon{	vertical-align:middle; margin:0px 6px 0px;	}

.wpshopMainWrap .ui-tabs{	padding:0px !important; }
.wpshopMainWrap .ui-tabs .ui-tabs-nav{	padding:0px !important; }

.pageTitle{		}
.pageTitle_Fixed{	position:fixed; width:85%; height:35px; top:0px; float:right; border:1px solid #E6DB55; background-color:#FFFBCC; z-index:1000;	}
.pageTitle_Fixed h2{		padding:0px !important; margin:0px 9px !important;	}
.wpshopContent_Fixed{	margin:50px 0px 0px 0px !important;	}

.pageHeaderButton{	float:right; padding:17px 18px 0px 0px;	}
.pageHeaderButton_Fixed{	float:right; padding:6px !important;	}
.pageTitle_Fixed .cancelButton{	padding:8px 0px 0px !important; margin:0px !important;	}
.cancelButton{	padding:8px 0px 0px !important;	}
.returnIcon{ background: url("../medias/jquery.images/ui-icons_2e83ff_256x240.png"); background-position: -270px -143px; width:16px; height:16px; margin:0px 3px; }

.wpshopRowAction{	visibility:hidden;	}
tr:hover .wpshopRowAction{	visibility:visible;	}

#wpshopFormManagementContainer{	display:table; width:100%;	}

.wpshopHelp{	margin:6px auto; width:70%;	}
.wpshop_form_label{	width:20%; vertical-align:top;	}
.wpshop_form_input{	width:50%;	}
.wpshop_form_input textarea, .wpshop_form_input select, .wpshop_form_input input[type=text], .wpshop_form_input input[type=file]{	width:60% !important;	}
.wpshop_form_input input[type=radio], .wpshop_form_input input[type=checkbox]{	margin:0px 1px 0px 6px; vertical-align:middle;	}

.wpshop_form_label_column{	width:30%; vertical-align:top;	}
.wpshop_form_input_column{	width:70%;	}
.wpshop_form_input_column textarea, .wpshop_form_input_column select, .wpshop_form_input_column input[type=text], .wpshop_form_input_column input[type=file]{	width:90% !important;	}
.wpshop_form_input_column input[type=radio], .wpshop_form_input_column input[type=checkbox]{	margin:0px 1px 0px 6px; vertical-align:middle;	}
/*	End common page parameter	*/


/*	Start language management part	*/
.languageIconAdmin{	vertical-align:middle; max-width:30px; margin:0px 6px 0px;	}
/*	End language management part	*/


/*	Start attribute management part	*/
#wpshop_attr_main_infos_form, #wpshop_attr_option_infos_form{	width:100%;	}
.attr_ent_label_cell{	font-weight:bold;	}
.wpshopRowAction a{	font-weight:normal;	}
.wpshopAttrLangContainer{	margin:16px 0px; clear:both;	}
.attributeGroupDetails{	border:0px dashed grey; margin:1px 12px;	width:40%;	}
.attributeGroupDetails li{	cursor:pointer; height: 1.5em; line-height: 1.2em; width:50%; padding:5px 0 0 7px;	}
.ui-state-highlight { height: 1.5em; line-height: 1.2em; }
/*	End attribute management part	*/


/*	Start product management part	*/
.help_product_creation{	width:60%; background-color:#FFFBCC; color:#555555; border:1px solid #E6DB55; padding:3px 0px;	}
.help_product_creation .help_picture{	background: url("../medias/jquery.images/ui-icons_2e83ff_256x240.png"); background-position: -270px -143px; width:16px; height:16px; margin:0px 3px; float:left;	}
.help_product_creation .help_content{	width:80%;}

.wpshop_product_ref_column{	width:145px;	}
.wpshop_product_status_column{	width:50px;	}

/*	Product pciture part	*/
.wp_wpshop__document_product_picture_preview{	max-width:100px;	}
/*	End product management part	*/

/*	Start document management part	*/


/*	End document management part	*/
.wpshop_document_file_column{	width:200px;	}
.wpshop_document_option_column{	width:200px;	}
.wpshopDocumentname{	font-size:9px; font-style:italic;	}
/*	End document management part	*/