/**************/
/*	General 	*/
/**************/
.wpshop_hide{	display:none;	}
.wpshop_clear{	clear:both;	}


/******************/
/*	Menu widget 	*/
/******************/
.wpshop_categories_widget, .wpshop_product_widget{	list-style-type:none !important; 	}
.wpshop_product_widget li{	margin:0px 0px 0px 9px;	}
.wpshop_categories_widget a{	color:#000000;	}
.wpshop_product_widget a{	color:grey;	}
.wpshop_category_closed, .wpshop_category_opened{	background:url("../medias/jquery-pics/ui-icons_454545_256x240.png") !important; width:16px; height:16px; float:left; cursor:pointer; }
.wpshop_category_empty{	width:16px; height:16px; float:left;	}
.wpshop_category_closed{	background-position:0px -208px !important; }
.wpshop_category_opened{	background-position:-16px -208px !important; }
.wpshop_current_item{	color:blue !important; font-weight:bold; text-decoration:underline !important;	}
.wpshop_top_category{	margin:0px !important;	}


/****************/
/*	Categories 	*/
/****************/
.category-picture{	margin:0px !important;	}
.category-picture img{		max-width:300px !important;	}
.wpshop_category_informations{	margin-bottom:24px; min-height:20px;	}
.category-description{	margin-left:9px; width:45%; text-align:justify;	}
.category_content_part_title{	border-bottom:1px solid #000000; font-size:12px;	}
.category_subcategories_list{	clear:both; margin:18px 0px; min-height:180px;	}
/**************************/
/*	Categories-mini-list 	*/
/**************************/
.category_main_information_container-mini-list{	}
.category_information-mini-list{	width:75%; float:left;  }
.category_thumbnail-mini-list{	width:20%; float:left;	}
.category_thumbnail-mini-list img{	width:90% !important;	}
.category_title-mini-list{	width:99%; text-align:left; color:#000000; }
.category_more-mini-list{	width:99%; text-align:left; color:grey; }
/**************************/
/*	Categories-mini-grid 	*/
/**************************/
.category_main_information_container-mini-grid{	float:left; height:200px; margin:0px 2px 9px 2px;	}
.category_information-mini-grid{	width:99%; }
.category_title-mini-grid{	width:99%; text-align:center; }
.category_thumbnail-mini-grid{	width:99%; min-height:160px; text-align:center;	}
.category_thumbnail-mini-grid img{	max-width:150px !important; max-height:150px !important;margin:6px 0px;	}


/**************/
/*	Products 	*/
/**************/
#product_main_information_container{	width:100%;	}
#product_main_information_container{	width:100%;	}
#product_galery{	width:50%; float:left;	}
#product_galery img{		max-width:90% !important;	}
#product_wp_initial_content{	width:50%; float:left;	}
.product_picture_galery_title{	border-bottom:1px solid #000000; font-size:12px;	}
#product_picture_galery_container{	clear:both; }
.product_picture_galery{	list-style-type:none !important; }
.product_picture_galery li{	float:left; margin-right:12px; }
.product_picture_galery li img{	max-height:60px !important; max-width: 100px !important; }
.product_picture_item{		}
.product_document_galery_title{	border-bottom:1px solid #000000; font-size:12px;	}
#product_document_galery_container{	clear:both; }
.product_document_galery{	list-style-type:none !important; }
.product_document_galery li{	float:left; margin-right:12px; }
.product_document_galery li img{	max-height:60px !important; max-width: 100px !important; }
.product_document_item{	text-align:center;	}
.product_document_item a{	color:#000000; text-decoration:none;	}
#product_attribute_container{	clear:both; }
.product_product_list{	clear:both; margin:18px 0px; border:1px solid red; min-height:180px;	}
.product_thumbnail_indicator{	display:none;	}
/************************/
/*	Products-mini-list 	*/
/************************/
.product_main_information_container-mini-list{	}
.product_main_information_container-mini-list a{	  }
.product_information-mini-list{	width:75%; float:left;  }
.product_title-mini-list{	width:99%; text-align:left; color:#000000; }
.product_more_mini-list{	color:grey;  }
.product_thumbnail-mini-list{	width:20%; float:left;	}
.product_thumbnail-mini-list img{	width:90% !important;	}
/************************/
/*	Products-mini-grid 	*/
/************************/
.product_main_information_container-mini-grid{	float:left; height:200px; margin:0px 2px 9px 2px;	}
.product_information-mini-grid{	width:99%; }
.product_title-mini-grid{	width:99%; text-align:center; color:#000000; }
.product_thumbnail-mini-grid{	width:99%; min-height:160px; text-align:center;	}
.product_thumbnail-mini-grid img{max-width:150px !important; max-height:150px !important; margin:6px 0px;	}