.wps-product-mass-interface-bottom .wps-mass-product-pagination {
	margin: 4px 0 0 10px;
	float: left;
}
.wps-product-mass-interface-bottom .wps-mass-product-pagination {
	list-style: none;
	text-align: center;
}
.wps-product-mass-interface-bottom .wps-mass-product-pagination li{
	display: inline;
	margin: 0px 3px;
}


.wpshop-admin-post-type-wpshop_product #TB_ajaxContent {
	width: 100% !important;
	padding: 0px;
}
.wps-product-mass-interface-bottom, .wps-product-mass-interface-top {
	height: 35px;
	padding: 3px 10px 0 0;
	border-top: 1px solid #DDD;
}
.wpshop-admin-post-type-wpshop_product #TB_window .wps-product-mass-interface-bottom button, .wpshop-admin-post-type-wpshop_product #TB_window .wps-product-mass-interface-top button {
	margin: 0 0 0 5px;
}

.wpshop-admin-post-type-wpshop_product #TB_ajaxContent {
	position: relative;
}
.wpshop-admin-post-type-wpshop_product #TB_ajaxContent .wps-product-mass-interface-main .wps-product-mass-interface-table {
	margin: 0px;
	width: 100%;
}
.wpshop-admin-post-type-wpshop_product #TB_ajaxContent .wps-product-mass-interface-main .wps-product-mass-interface-table th {
	text-align: left;
}
.wpshop-admin-post-type-wpshop_product #TB_ajaxContent .wps-product-mass-interface-main .wps-product-mass-interface-table tbody tr {
	width: 100%;
}
.wpshop-admin-post-type-wpshop_product #TB_ajaxContent .wps-product-mass-interface-main .wps-product-mass-interface-table tbody {
	overflow-y: auto;
   	height: 690px;
}

.wps-mass-interface-line-selector{
	width: 35px;
}

.wps-mass-interface-main-post-infos textarea, .wps-mass-interface-main-post-infos input[type="text"] {
 	width : 100%;
}
.wps-mass-interface-main-post-infos textarea {
 	height : 160px;
 	width : 100%;
}
#TB_ajaxContent .wps-product-mass-interface-table label, #TB_ajaxContent .wps-product-mass-interface-table input, #TB_ajaxContent .wps-product-mass-interface-table span, #TB_ajaxContent .wps-product-mass-interface-table select, #TB_ajaxContent .wps-product-mass-interface-table textarea {
	color: #000;
	border-color: #CCC;
}
.wps-product-mass-interface-table .wps-mass-interface-main-post-infos {
	width: 45%;
}
.wps-product-mass-interface-table .wps-mass-interface-extras-post-infos ul {
	margin: 0px;
}
.wps-product-mass-interface-table .wps-mass-interface-extras-post-infos ul li {
	display: inline-block;
	width: 33%;
	float: left;
	box-sizing: border-box;
	padding: 0 5px;
	min-height: 70px;
}
.wps-product-mass-interface-table .wps-mass-interface-extras-post-infos ul li .wpshop_form_input_element input[type=text], .wps-product-mass-interface-table .wps-mass-interface-extras-post-infos ul li .wpshop_form_input_element select {
	width: 90%;
}

.wps-mass-product-pagination li a, .wps-mass-product-pagination li span {
	color: white;
	font-weight: bold;
	padding: 5px 10px;
	border-radius: 15px;
}
.wps-mass-product-pagination li a {
	background-color: #2ea2cc;
	text-decoration: none;
}
.wps-mass-product-pagination li span.current {
	background-color: #CCC;
}
