/* 
    Document   : frontend
    Created on : 1 juil. 2014, 14:43:18
    Author     : Gabriel
    Description:
        Purpose of the stylesheet follows.
*/

#wishlist_button_italic{
    font-size: 10px;
    text-decoration: underline;
}

#wishlist_button_icone, #receivers_form_status{ /* img from buttons */
    margin-right: 10px;
}

#wishlist_display_error{ /* Display error on wishlist */
    color: red;
    font-style: italic;
    font-size: 13px;
}

#wish_list_receivers{ /* SELECT chosen */
    width: 95%;
}


#receivers_form_buttons{ /* Buttons cancel and send */
    margin-left: 60%;
    margin-top: 5%;
}